
.skills-bar-container{
  
  width: 90%;
  min-width: 300px;
  list-style:none;
}

.skills-bar-container li{
  background: #555;
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.skills-bar-container label{
  color: #B1B1B1;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.skills-bar-container .percent{
  color: #B1B1B1;
  font-size: 14px;
  float: right;
}

.progressbar{
  position:absolute;
  width:0%;
  height: 100%;
  border-radius: 5px;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

#progress-illustrador{

  animation-name: progress-illustrador;
  animation-delay: .7s;
}

#progress-photoshop{
  animation-name: progress-photoshop;
  animation-delay: 1.4s;
}

#progress-hootsuite{
  
  animation-name: progress-hootsuite;
  animation-delay: 2.1s;
}

#progress-adwords{
  
  animation-name: progress-adwords;
  animation-delay: 2.8s;
}

#progress-analytics{
  
  animation-name: progress-analytics;
  animation-delay: 3.5s;
}

.amarillo{ 
  background-color: #EEB620; 
}
.verde{
 background-color: #1EA278; 
}
.plomo{
 background-color: #B1B1B1;
}
.rojo{ 
  background-color: #EF7A5C; 
}

.azul{
  background-color: #3498DB;
}


@keyframes progress-illustrador{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-photoshop{0%{width: 0%;} 100%{ width: 85%;}}
@keyframes progress-hootsuite{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-adwords{0%{width: 0%;} 100%{ width: 95%;}}
@keyframes progress-analytics{0%{width: 0%;} 100%{ width: 95%;}}

