*, *::before, *::after {
  margin: 0;
  border: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}
body{
  font-size: 1.5em;
}

strong{
  font-size: 18px;
}

header{
  background-color:#EF7A5C;
  width:100%;
  height: 6em;
}

.social{
  color: white;
  font-size: 3em;
  float: right;
  margin-right: 1em;
  margin-top: .5em;
}

.logotipo.text-center img{
  width: 10em;
  height: 10em;
  margin-left: 12em;
}

#box{
  text-align: center;
}

.box{
  background-image: url(../img/fondo.jpg);
  width: 100%;
  height: 41em;
  background-size: cover;
  background-repeat: no-repeat;
}


.menu {
  display: inline-block;
  box-sizing: border-box;
  background: #EEB620;
  margin-top: 7em;
  height: 5.5em;
  width: 5.5em;
  padding: 2em 3em 3em 0em;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}

.menu.expanded {
  width: 34em;
}

span {
  padding: 0.5em;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: .3s;
  transform: rotateY(0deg);
}
span:nth-of-type(1) {
  transition-delay: .4s;
}
span:nth-of-type(2) {
  transition-delay: .5s;
}
span:nth-of-type(3) {
  transition-delay: .6s;
}
span:nth-of-type(4) {
  transition-delay: .7s;
}
span.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(90deg);
}
span.hidden:nth-of-type(1) {
  transition-delay: .3s;
}
span.hidden:nth-of-type(2) {
  transition-delay: .2s;
}
span.hidden:nth-of-type(3) {
  transition-delay: .1s;
}
span.hidden:nth-of-type(4) {
  transition-delay: 0s;
}
span a {
  color: #1EA278;
  text-decoration: none;
  font-size: 16.36364px;
  transition: .3s;
  font-weight:500;
  font-size: 18px;
}
span a:hover {
  color:white;
  text-decoration:none;
}

span a:focus{
  color: #4D4D4D ; 
  text-decoration: none;
  border-bottom: medium dashed;
  border-bottom-color:#EF7A5C;
  padding-bottom: 0.3em;
}

.contenedor {
  position: absolute;
  top: 22.5px;
  height: 4em;
  transition: 1s;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contenedor .close {
    left: 408px;
    background: white;
    border-radius: 200px;
    height: 45px;
    bottom: 4px;
    width: 55px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.toggle {
  position: relative;
  height: 43.75px;
  width: 58.5px;
  cursor: pointer;
}
.toggle:after, .toggle:before {
  content: '';
  background: #1EA278;
  width: 30px;
  height: 4.5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 12px;
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.toggle:before {
  top: -30%;
  right:40px;
}
.toggle:after {
  top: 30%;
  right:40px;

}
.toggle.close:before {
  transform: rotate(-225deg);
  top: 0;
  margin-left: 1px;
}

.toggle.close:after {
  transform: rotate(225deg);
  top: 0;
  margin-left:1px;
}

.titulo{
  color: white;
  font-size: 5em;
  margin-top: 1em;
  line-height: 1em;
}


/*SECCIÓN CONÓCEME*/

.conoceme{
  background-image: url(../img/fondo2.png);
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
}

.proporcional .burbuja {
    display: inline-block;
    margin-top: 1.5em;
    min-height: 4em;
    position: relative;
    border-radius: 16em;
    line-height: 1.3;
    color: white;
    background-color: #EEB620;
}

.proporcional .burbuja h2 {
   text-align: right; 
   padding-right: 4em;
}

.proporcional .burbuja p {
  font-size: 16px;
  text-align: right;
  color:#4D4D4D;
  padding: 0.1em 4em 2em 2em;
}

.proporcional .burbuja::before {
    content: '';
    display: block;
    width: 4em;
    height: 3em;
    position: absolute;
    right: -0.5em;
    bottom: 31px;
    border-left: 2em solid #EEB620;
    border-bottom-left-radius: 100%;
    z-index: 0;
    transform: rotate(-49deg);
}

.titular{
  color:#B1B1B1;
}


.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.image{
  margin-top: 4em;
}

.image .move{
  background-image: url(../img/foto.png);
  width: 272px;
  height: 272px;
  transition: 2.5s ease;
  -moz-transition: 2.5s ease;
  -webkit-transition: 2.5s ease;
  -o-transition: 2.5s ease;
}

.image .move:hover {
    background-image: url(../img/foto2.png);
    width: 272px;
    height: 272px;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}




.blue-btn a{
  color: black;
  text-decoration:none;
  text-align: center;
  display:block; /* important */
  color:#999;
}

.blue-btn, .first-link{
  transition: 0.9s;
}

.blue-btn{
  font: normal normal 100 1em/4em Arial,sans-serif;
  overflow: hidden;
  background-color: white;
}

.blue-btn:hover{
   background-color:white;
}

.blue-btn a:hover{
  text-decoration: none;
}

.first-link{
  margin-top: 0em;
}

.blue-btn:hover .first-link{
  margin-top: -10.5em;
}


.boton a{
  font-family: 'Lobster', cursive;
  padding:10px 20px;
  font-size: 20px;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: white;
  color:#EEB620;
  border-bottom: medium dashed;
  padding-bottom: 0.2em;
}

.boton a:hover{
  color:#EF7A5C;
  text-decoration: none;
}

.boton a:focus{
  outline:0px;
  color:#1EA278;
  transition: all 0.9s ease-in-out;
  text-decoration: none;
}

h3{
  color:#B1B1B1;
  font-size: 16px;
  font-weight: 500;
}

.titulardos{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color:#B1B1B1;
  width: 400px
}

/*our-lp*/
.our-lp{
    padding: 6% 0% 8%;
}

.cuadro {
    background: #fff;
    border: 1px solid #eee;
    padding: 5%;
    margin: 0%;
}

.our-lp h3{
  font-weight: 200;
  color:#34495e;
  padding-bottom: 5%;
}

.our-lp p{
  font-weight: 200;
  color:#34495e;
  padding-bottom: 5%;
}
/* HABILIDADES*/

.habilidad{
  font-family: 'Lobster', cursive;
  padding:10px 20px;
  font-size: 20px;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: white;
  color:#EEB620;
  border-bottom: medium dashed;
  padding-bottom: 0.2em;
}

.habilidad:hover{
  color:#EF7A5C;
  text-decoration: none;
}

.habilidad:focus{
  outline:0px;
  color:#1EA278;
  transition: all 0.9s ease-in-out;
  text-decoration: none;
}

