@keyframes rompecabeza{
  0% {transform: rotate(0deg) translateX(0px);}
  40% {transform: rotate(41deg) translateX(-250px);}
  50% {transform: rotate(41deg) translateX(-250px);}
  90% {transform: rotate(0deg) translateX(-650px);}
  100% {transform: rotate(0deg) translateX(-650px);}
}

@keyframes poligono_ccw {
  0% {transform: rotate(0deg);}
  40% {transform: rotate(-180deg);}
  100% {transform: rotate(-180deg);}
}

@keyframes poligono_cw {
  0% {transform: rotate(0deg);}
  40% {transform: rotate(180deg);}
  100% {transform: rotate(180deg);}
}

@keyframes vector_ccw {
 0% {transform: rotate(0deg);}
 50% {transform: rotate(0deg);}
 90% {transform: rotate(-180deg);}
 100% {transform: rotate(-180deg);}
}

@keyframes vector_cw {
 0% {transform: rotate(0deg);}
 50% {transform: rotate(0deg);}
 90% {transform: rotate(180deg);}
 100% {transform: rotate(180deg);}
}


.rompecabeza{
  transform-origin: 326px 163px;
  animation-name: rompecabeza;
}

polygon{
  stroke:white;
  stroke-width: 10px;
}

polygon, .figura, .rompecabeza{
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  animation-play-state: running;
}

.verde_figura{
  transform-origin: 813px 565px;
  animation-name: vector_ccw;
}

.verde{
  fill:#1EA278;
  transform-origin: 488px 565px;
  animation-name: poligono_ccw;
}

.amarillo_figura{
  transform-origin: 811px 567px;
  animation-name: vector_ccw;
}

.amarillo{
  fill: #EEB620;
  transform-origin: 486px 567px;
  animation-name: vector_ccw;
}

.rojo_figura{
  transform-origin: 489px 565px;
  animation-name: poligono_ccw;
}

.rojo{
  fill: #EF7A5C;
  transform-origin: 164px 565px;
  animation-name: poligono_ccw;
}

.plomo_figura{
  transform-origin: 814px 285px;
  animation-name: vector_cw;
}

.plomo{
  fill: #B1B1B1;
  transform-origin: 489px 285px;
  animation-name: poligono_cw;
}